dist: xenial
language: python
python:
 - '3.5'
 - '3.6'
 - '3.7'
install:
 - pip install flake8 flake8-import-order flake8-builtins && pip install -r requirements.txt
before_script:
 - cp .travis/system.dic.test tests/resources/system.dic && cp .travis/user.dic.test tests/resources/user.dic
script:
 - ./scripts/format.sh
 - python -m unittest discover tests
deploy:
 provider: pypi
 user: worksapplications
 password:
  secure: "desRZ1KuHoE7asLE2dXsVUB0iqhIsFIkawQjwcUcc14WybRhE1M4K2yRCoVmoizF6EPb50dh1qRChCm1lHKJZKA29s1SxN7xuzN+b1V2yhAcKvix/267O/1pQvb+vB6wTQIojksiG9QPJNRs75wvM0Rz+5/G6wX+WNQovkKODrE7F1gsyW2kvaw194Fc4jLX5GkKbiSpSlqthWja/YcdSkz/xnHP1fH7NEYdOXWTJ2vBmXgKJegsA9+S/GAhezSfurRkcLvijzwZtLfnlso3ToSRVFmn0NaZHK79+eUb4ub/8ojMFQih6/JCyV7StI3nOUgVV13XKvQ65po6XSs2NBydK3VIDVrvvAOw/89EKjB9nKhwxQLPRyCIke+XGPZdvQEEJlMTZjJGWOpYdkX0uBZhGMCTyxzddNeDo9aH2adOw/IywmTB8axd1J+SHfZFnxJNhe+0UEBV1GF87+W49Ks1jmT1QrElqXs65t2T4AMaQCrwkCYtZfiFUGXaoDr6hpaJFNaa8/1i6u9yhWJTTbsvSK1xhxNqb9BCxC3BjCg6tOGeMnhDGxU8xt10i9IrkZHhjiQzQiuzE6K3MAvbE3Y2wPslYuvxwGtsHHtfQ4LIOTu3tl9A+ay1adamolBGh8nTmyaaPIoONRRdFuEW2/W6q8CvWtAYn8lxyQNFdnw="
 distributions: sdist bdist_wheel
 skip_cleanup: true
 skip_existing: true
 on:
  tags: true
