[flake8]
ignore = \
	F632, \ # use ==/!= to compare str, bytes, and int literals
	F401, \ # imported but unused
	C901, \ # too complex
	E226, \ # missing whitespace around arithmetic operator
	E201, \ # whitespace after '('
	E202, \ # whitespace before ')'
	E501, \ # line too long (141 > 140 characters)

max-line-length = 140
exclude = tests/*, __init.py__
max-complexity = 10
