# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Check license header
      run: |
        HEADER=`cat scripts/license-header.txt`
        for FILE in `find setup.py sudachipy tests -name '*.py'`; do FILECONTENTS=`cat "$FILE"`; if [[ "$FILECONTENTS" != "$HEADER"* ]]; then >&2 echo "invalid license header on $FILE"; fi; done
    - name: Test with unittest
      run: |
        cp .travis/system.dic.test tests/resources/system.dic
        cp .travis/user.dic.test tests/resources/test.dic
        python setup.py build_ext --inplace
        python -m unittest discover tests
